<div class="accordion" id="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= question.screen_id %>"><%= question.screen_text %></a>
    </div>
    <div id="collapse_<%= question.screen_id %>" class="accordion-body collapse">
      <div class="accordion-inner">
      <%= render partial: 'shared/line', object: question.answers if question.numeric_answers? %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Result</th>
              <th>Datetime</th>
              <th class="pull-right">Response</th>
            </tr>
          </thead>
          <tbody>
          <% question.answers.each do |answer| %>
            <tr>
              <td>
                <%= link_to answer.result_id, participant_result_answers_path(@participant, answer.result_id) %>
              </td>
              <td>
                <span class="label">
                <i class="icon-time"></i>
                  <%= answer.response_date %>
                </span>
              </td>
              <td>
                <p class="pull-right"><%= answer.result_answer %></p>
              </td>
            </tr>
          <% end %>
          <% question.stats.each_pair do |key, value| %>
            <tr class="info">
              <td>
                <strong><%= key.capitalize %></strong>
              </td>
              <td></td>
              <td>
                <p class="pull-right"><%= value %></p>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
